<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boaviagem.casadocodigo.com.br.boaviagem" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BoaViagem"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" >
        </activity>
        <activity
            android:name=".NovaViagemActivity"
            android:label="@string/title_activity_nova_viagem" >
        </activity>
        <activity
            android:name=".GastoActivity"
            android:label="@string/title_activity_gasto" >

        </activity>
        <activity
            android:name=".ViagemListActivity"
            android:label="@string/title_activity_viagem_list" >

        </activity>
        <activity
            android:name=".GastoListActivity"
            android:label="@string/title_activity_gasto_list" >
        </activity>
        <activity
            android:name=".ConfiguracoesActivity"
            android:label="@string/title_activity_gasto_list" >
        </activity>
    </application>

</manifest>
